/* line 3, ../sass_project/sass/boad.scss */
.boad-wrapper .boad-content ul {
  padding-top: 30px;
}
/* line 5, ../sass_project/sass/boad.scss */
.boad-wrapper .boad-content ul li {
  box-sizing: border-box;
}
/* line 11, ../sass_project/sass/boad.scss */
.boad-wrapper .boad-content ul .comment {
  border-bottom: 1px solid gray;
  padding: 0 0 10px;
}

/* line 21, ../sass_project/sass/boad.scss */
form {
  position: absolute;
  bottom: 20px;
  width: 1170px;
  margin: 0 auto;
}
/* line 26, ../sass_project/sass/boad.scss */
form input, form textarea {
  width: 100%;
  display: block;
  margin: 10px auto;
}
