.boad-wrapper{
  .boad-content{
    ul{
      padding-top:30px;
      li{
        box-sizing:border-box;
      }
      .user-name{
        // background-color:pink;
      }
      .comment{
        // background-color:aqua;
        border-bottom:1px solid gray;
        padding:0 0 10px;
      }
    }
  }
}


form{
  position:absolute;
  bottom:20px;
  width:1170px;
  margin:0 auto;
  input, textarea{
    width:100%;
    display:block;
    margin:10px auto;
  }
}
